.medal-player-card {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  background-color: #a9a9a9;
  margin-top: 75px;
  box-shadow: 1px 4px 20px black;
}

#title-span {
  padding-left: 12px;
  font-style: italic;
  padding-top: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.likes-views-area {
  padding-left: 12px;
  display: flex;
}

#thumbs-up-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

#views-icon {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-right: 5px;
}

.likes-area,
.views-area {
  display: flex;
  align-items: center;
}

#views,
#likes {
  font-size: 12px;
}
